#mapa-map{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20px;
    padding-bottom: 66.66666%;
    // top: 0;
    // left: 0;

}


#filtro {
  text-shadow: 1px 1px 3px black;
}

#linea {border-color: #17a2b8}

#filtrar{
  background-color: white;
  opacity: 10;
  border-color: #17a2b8;
}
